*{
  font-family: 'Alexandria', sans-serif;;
}

body {
  background-color:#E8F9FD;
}

.navbar-expand-lg{
  background-color: transparent;
}

.off-canvas{
  background-color: transparent;
}

h1{
  text-align: center;
}

.container{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
border-bottom: 3rem;
}

.formulario{
  width: 400px;
  padding: 30px;
  border: 1px solid #ccc;
  position: relative;
  top:5rem;
}

#text{
  font-size:small;
  padding-left: 10px;
position: relative;
top:1rem;
text-align: center;
  }

.field{
  width: 100%;
  margin: 15px 0;
}
 
.radiobox label{
  width: auto;
  display: inline-block;
}

input[type=text],
input[type=password]
{
  width: 100%;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  border: 1px solid #ccc;
  outline: none;
}

input[type=submit]{
  display: block;
  background-color: #ccc;
  height: 35px;
  border: none;
  outline: 0;
  cursor: pointer;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
}

.botoes{
display: flex;
flex-direction: row
}
